body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

header {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  background-color: #808080 ;
  color: #7fffd4;
}